<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @purchase.status %>
</p>

<p>
  <strong>Album:</strong>
  <%= @purchase.album_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
